.create-request-component-student {
  background-color: white;
  border: 1px solid black;
  position: fixed;
  z-index: 1000;
  width: 550px;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.create-request-component-student .title-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.create-request-component-student .close-button {
  width: 27px;
  height: 27px;
}

.create-request-component-student .issue-title-group,
.create-request-component-student .description-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-bottom: 20px;
}

.create-request-component-student .issue-title-label,
.create-request-component-student .description-label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.create-request-component-student .issue-title-group > input,
.create-request-component-student .description-group > textarea,
.create-request-component-student .department-group .department-select {
  font-family: var(--primary-font);
  width: 95%;
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px;
}

.create-request-component-student .description-group > textarea {
  height: 130px;
  resize: vertical;
}

.create-request-component-student .issue-title-group > input:focus,
.create-request-component-student .description-group > textarea:focus,
.create-request-component-student .department-group .department-select:focus {
  outline: 1px solid var(--accent);
  background-color: rgb(245, 248, 250);
}

.create-request-component-student .department-file-group {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.create-request-component-student .department-group {
  display: flex;
  align-items: flex-start;
  width: 45%;
}

.create-request-component-student .file-select {
  display: none;
}

.create-request-component-student .file-select-label {
  font-size: 16px;
  margin-right: 15px;
  padding: 5px 10px;
  border: 1px solid var(--primary);
  border-radius: 3px;
  color: var(--accent);
  cursor: pointer;
}

.create-request-component-student .selected-files-and-departments {
  width: 90%;
  display: flex;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  padding-left: 4px;
  position: relative;
  margin-top: 5px;
  min-height: 95px;
  height: auto;
  margin-top: 15px;
  overflow-y: auto;

  /* border: 1px solid #ccc; */
}
.create-request-component-student
  .selected-files-and-departments
  .selected-departments {
  flex: 1;
  /* overflow-y: auto; */
}

.create-request-component-student .selected-departments > p,
.create-request-component-student .selected-files > p {
  margin: 5px 0;
}

.create-request-component-student
  .selected-files-and-departments
  .selected-files {
  flex: 1;
}

.create-request-component-student .department-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.create-request-component-student .department-list > p {
  font-weight: 400;
  padding: 7px 12px;
  border-radius: 15px;
  font-size: 12px;
  background-color: rgba(131, 84, 219, 0.212);
  font-weight: bold;
  color: rgb(131, 84, 219);
  margin: 3px 14px 5px 0;
}
.create-request-component-student .submit-button-container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}
.create-request-component-student .submit-button {
  margin-bottom: 30px;
  padding: 10px 15px;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .create-request-component-student {
    width: 90%;
    height: 90%;
  }
  .create-request-component-student {
    background-color: white;
    border: 1px solid black;
    position: fixed;
    z-index: 1000;
    /* width: 550px; */
    height: 600px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-wrap: nowrap;
    align-content: center;
}

.create-request-component-student .selected-files-and-departments {
  width: 90%;
  display: flex;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  padding-left: 4px;
  position: relative;
  margin-top: 5px;
  min-height: 95px;
  height: auto;
  margin-top: 15px;
  overflow-y: auto;
  /* border: 1px solid #ccc; */
  flex-direction: column;
}

}