/* CommentBox.css */
.comment-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: rgb(242, 242, 242);
    height: 18%;
    margin-top: 20px;
  }
  
  .comment-box textarea {
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment-box button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .comments-list {
    margin-top: 20px;
  }
  
  .comment {
    background-color: var(--secondary);
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
  }


  .comment-box > h3 {
    margin: 0;
  }
  