.header-student-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 10px;
    margin: 0;
}

.h1-student-dashboard {
    text-align: left;
    margin: 15px;
    font-size: 17px;
}

.h1-student-dashboard,
.student-name,
.notification-icon {
    /* font-size: 15px; */
    color: var(--background);
}

.notification-icon>img {
    width: 60px;
    height: 60px;
}

.student-info {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.student-name {
    margin-right: 10px;
    font-size: 18px;
    /* font-weight: bold; */
}

.notification-icon>img {
    position: relative;
    cursor: pointer;
}

.logout-button {
    width: 30px;
    height: 30px;
    margin-left: 8px;
    cursor: pointer;
    margin-right: 15px;
}

/* .notification-overlay {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background-color: var(--secondary);
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
    padding: 10px;
} */

.notification-overlay {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background-color: #483D8B; /* Dark slate blue: adjust this to fit the page's color theme */
    border: 1px solid #676767; /* Dark gray border: softer than black */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Softer shadow for subtlety */
    z-index: 1000;
    border-radius: 8px; /* Rounded corners for a modern look */
    padding: 15px; /* Slightly larger padding for content breathing space */
    color: #ffffff; /* Change text color if needed */
    font-size: 0.9em; /* Adjust font size for better readability */
}



@media (max-width: 768px) {
    .header-student-dashboard {
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    .header-student-dashboard .h1-student-dashboard {
        /* display: none; */
        font-size: 13px;
    }

    .header-student-dashboard .student-name {
        display: none;
    }

    .header-student-dashboard .notification-icon>img {
        width: 50px;
        height: 50px;
    }

    .header-student-dashboard .logout-button {
        width: 25px;
        height: 25px;
        margin-left: 8px;
        cursor: pointer;
        margin-right: 5px;
    }

}