@import url("../../assets/styles.css");

.requests {
  font-family: var(--primary-font);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.h2-student-dashboard {
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  color: var(--text);
  margin-top: 30px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.button-student-dashboard {
  padding: 10px 15px;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-student-dashboard:hover {
  background-color: var(--accent);
}

.search-bar,
.create-request-button {
  margin-right: 10px;
}

.create-request-button {
  margin-left: auto;
  background-color: var(--primary);
  color: var(--background);
  border-radius: 7px;
}

.input-student-dashboard[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  color: var(--text);
}

.table {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  flex: 1;
}

.table-student-dashboard {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table-student-dashboard th,
.table-student-dashboard td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
  color: var(--text);
}

.table-student-dashboard th {
  background-color: var(--secondary);
}

.title-cell,
.description-cell {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-cell:hover,
.description-cell:hover {
  overflow: auto;
  white-space: normal;
}

.departments-cell {
  max-width: 150px;
  overflow-x: auto;
  white-space: nowrap;
}

.department-pill {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  background-color: rgba(131, 84, 219, 0.212);
  font-weight: bold;
  color: rgb(131, 84, 219);
  margin: 2px;
}

.date-created-cell {
  max-width: 100px;
}

.status-box {
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.date-created-header {
  position: relative;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 0;
  margin-left: 4px;
}

.table-student-dashboard th:nth-child(1),
.table-student-dashboard th:nth-child(2),
.table-student-dashboard th:nth-child(3),
.table-student-dashboard td:nth-child(3),
.table-student-dashboard th:nth-child(4),
.table-student-dashboard td:nth-child(4),
.table-student-dashboard th:nth-child(5),
.table-student-dashboard td:nth-child(5) {
  text-align: center;
}

.status-action-required {
  background-color: rgba(184, 44, 28, 0.214);
  font-weight: bold;
  color: rgb(184, 44, 28);
}

.status-closed {
  background-color: rgba(35, 134, 55, 0.226);
  font-weight: bold;
  color: rgb(35, 134, 54);
}

.status-in-progress {
  background-color: rgba(157, 105, 2, 0.209);
  font-weight: bold;
  color: rgb(157, 106, 2);
}

.status-open {
  background-color: rgba(31, 109, 235, 0.217);
  font-weight: bold;
  color: rgb(31, 110, 235);
}

.pagination {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.pagination-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 5px;
}

.pagination button {
  padding: 10px 15px;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 2px;
  padding: 5px 10px;
  border-radius: 20px;
}

.issueOverlay {
  position: absolute;
  right: 150px;
  top: 50px;
  width: 70%;
  padding: 10px;
  background-color: var(--background);
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pagination button:hover {
  background-color: var(--accent);
}

.pagination button.active {
  background-color: var(--accent);
  color: var(--background);
}

.footer-student-dashboard {
  margin-top: 20px;
  text-align: center;
  background-color: var(--secondary);
  color: var(--text);
}

.issue-link {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 768px) {

  .h2-student-dashboard,
  .actions {
    padding-left: 1.5%;
    padding-right: 1.5%;
  }

  .h2-student-dashboard {
    font-size: 16px;
  }

  .actions {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 1.5%;
  }

  .create-request-button {
    width: auto;
    margin: auto;
  }

  .table-student-dashboard {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }

  .table-student-dashboard th,
  .table-student-dashboard td {
    padding: 1.5%;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
  }

  .table-student-dashboard th:nth-child(2),
  .table-student-dashboard td:nth-child(2) {
    text-align: center;
  }

  .table-student-dashboard th {
    background-color: var(--primary);
    color: white;
  }

  .title-cell-mobile {
    max-width: 190px;
    white-space: nowrap;
    overflow-x: auto;
  }

  .status-box {
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 12px;
  }

  .footer-student-dashboard {
    font-size: 10px;
  }
}