.admin-student-details {
  background-color: var(--background);
  transition: box-shadow 0.3s ease;
  width: 220px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.admin-student-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.admin-student-details ul {
  list-style-type: none;
  padding: 0;
}

.admin-student-details li {
  margin: 10px 0;
  font-size: 1rem;
}
  
  .student-details li strong {
    font-weight: bold;
  }

  