.student-details {
    border: 0.5px solid gray;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 220px;
    margin-bottom: 30px;
    margin-right: 20px;
  }
  
  .student-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .student-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .student-details li {
    margin: 10px 0;
    font-size: 1rem;
  }
  
  .student-details li strong {
    font-weight: bold;
  }

  