@import url("../../../assets/styles.css");

.student-issue-view {
  font-family: var(--primary-font);
  color: var(--text);
  background: var(--background);
  text-align: left;
}

.student-issue-view>h2 {
  margin: 30px 0 20px 30px;
  width: 90%;
  font-size: 25px;
}

.student-issue-view .issue-content {
  display: flex;
}

.student-issue-view .leftside-section {
  flex: 3;
}

.student-issue-view .rightside-section {
  flex: 1;
}

.student-issue-view .issue-history-section {
  margin: 0 30px;
}

.student-issue-view .issue-history-and-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-issue-view .issue-history-and-status>h3 {
  font-size: 23px;
  margin: 0px;
}

.student-issue-view .issue-status-box {
  padding: 10px 13px;
  border-radius: 5px;
}

.student-issue-view .history-updates {
  height: 300px;
  background-color: var(--secondary);
  overflow-y: scroll;
  margin-top: 15px;
  border-radius: 2px;
}

.student-issue-view .history-updates>.update {
  margin: 20px 20px 25px 20px;
}

.student-issue-view .history-updates>.update>h4 {
  margin: 0;
}

.student-issue-view .history-updates>.update>p {
  background-color: gray;
  margin-top: 10px;
  padding: 15px;
  border-radius: 3px;
}

.student-issue-view .add-comment {
  /* margin-top: 10px; */
}

.student-issue-view .add-comment>h3 {
  margin: 30px 0 10px 0;

}

.student-issue-view .comment-input {
  height: 68px;
  width: 97%;
  resize: vertical;
  padding: 10px;
  font-family: var(--primary-font);
  border-radius: 2px;
  border: 1px solid var(--primary);
  /* outline: 5px var(--primary); */
}

.student-issue-view .comment-input:focus {
  outline: 1px solid var(--accent);
}

.student-issue-view .add-comment>.issue-buttons {
  transform: translate(945px, -60px);
}

.student-issue-view .issue-buttons .student-issue-view .issue-heading-section {}

.action-required-tag {}



.comments-section {}

.add-comment {}

.comment-input {}

.issue-buttons {
  background: var(--primary);
  color: var(--background);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: var(--primary-font);
}

.sidebar {}

.departments-tagged,
.attachments {}

.issue-ul {
  list-style-type: none;
  padding: 0;
}

.issue-li {}

.footer-buttons {}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.issue-heading-section,
.history-section,
.comments-section,
.add-comment {}

.departments-tagged,
.attachments {}



.status-action-required {}

.status-closed {}

.status-in-progress {}

.status-open {}