@import url("../../../assets/styles.css");

.student-issue-view {
  font-family: var(--primary-font);
  color: var(--text);
  background: var(--background);
  text-align: left;
}

.student-issue-view>h2 {
  margin: 30px;
  width: 90%;
}

.student-issue-view .issue-content {
  display: flex;
}

.student-issue-view .leftside-section {
  flex: 3;
}

.student-issue-view .rightside-section {
  flex: 1;
}

.student-issue-view .issue-history-section {
  margin: 0 30px;
}

.student-issue-view .issue-history-and-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-issue-view .issue-history-and-status>h3 {
  font-size: 20px;
  margin: 0px;
}

.student-issue-view .issue-status-box {
  padding: 10px 13px;
  border-radius: 5px;
}

.student-issue-view .history-updates {
  background-color: gray;
}

.issue-heading-section {}

.action-required-tag {}



.comments-section {}

.add-comment {}

.comment-input {
  width: 100%;
  padding: 10px;
  font-family: var(--primary-font);
}

.issue-buttons {
  background: var(--primary);
  color: var(--background);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: var(--primary-font);
}

.sidebar {}

.departments-tagged,
.attachments {}

.issue-ul {
  list-style-type: none;
  padding: 0;
}

.issue-li {}

.footer-buttons {}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.issue-heading-section,
.history-section,
.comments-section,
.add-comment {}

.departments-tagged,
.attachments {}



.status-action-required {}

.status-closed {}

.status-in-progress {}

.status-open {}