@import url("../../../assets/styles.css");
.department-selection {
  background-color: var(--background);
  border-radius: 8px;
  width: 250px;
  margin-bottom: 50px;
}
.department-selection .tag-sidebar-header {
  display: flex;
  justify-content: space-between;
}
.department-selection .tag-sidebar-header select{
  width: 45%;
  font-size: 12px;
  margin-right: 8px;
  border: 1px solid var(--primary);
  border-radius: 3px;
  color: var(--accent);
  cursor: pointer;
}
  
.department-selection ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  
}

.department-selection h3 {
  margin: 0;
}

.department-selection .plus-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 70px;
}

.department-selection .plus-button:hover {
    background-color: #0056b3;
}

.department-selection .plus-button:focus {
    outline: none;
}

.department-selection .tag-sidebar-header {
  display: flex;
  justify-content: space-between;
}

.department-selection .round-tag {
  width: 80%;
  height: 80%;
  background-color:#e6dbf9;
  border-radius: 16px;
  padding: 5px 5px;
  color: #845dd0;
  font-size: 14px;
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-right: 10px;
}

.department-selection .tag-close-button {
  background-color: transparent;
  border: none;
  color: #060606;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 20px 20px 0;
}

.department-selection  .tag-close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

  