@import url("../../../assets/styles.css");
.tag-sidebar {
    background-color: var(--background);
    border-radius: 8px;
    width: 200px;
    margin-bottom: 10px;
  }
  
  .tag-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 2px;
   
  }


  .tag-sidebar h3 {
    margin: 0;
  }
  
  .tag-sidebar li {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #845dd0;
    border-radius: 16px;
    margin: 10px;
    padding: 3px 0;
    background-color:#e6dbf9
  }
  
  .tag-sidebar li:hover {
    background-color: #e0e0e0;
  }
  