/* TagSidebar.css */
.tag-sidebar {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    margin-bottom: 10px;
    height: 100px;
  }
  
  .tag-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 2px;
  }


  .tag-sidebar h2 {
    margin: 0;
  }
  
  .tag-sidebar li {
    cursor: pointer;
    padding: 5px 0;
  }
  
  .tag-sidebar li:hover {
    background-color: #e0e0e0;
  }
  